.field {
  position: relative;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(10, 20px);
}

.tryAgain {
  background: #f2f2f2;
  color: #ba55a7;
  border-radius: 20px;
  margin: 20px;
  font-size: 20px;
  padding: 15px;

  &:hover {
    opacity: 0.8;
  }
}
