.root {
  background: #e65bcd;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not([disabled]):hover {
    opacity: 0.5;
  }

  &.showContent {
    background: #ffaff0;
    cursor: not-allowed;
  }
}
